/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Content/site.css */
.header {
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    text-align: center;
}
.search-bar {
    margin: 20px 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}

.banner img 
{
    width: 100%;
    height: auto;
}


.footer {
    padding: 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    text-align: center;
}

.product-image {
    width: 100%;
    max-width: 400px;
}

.center-text {
    text-align: center;
    margin: 20px 0;
}